body {
  font-family: Bricolage Grotesque, Arial;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.body-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (max-width: 750px) {
  .body-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 751px) and (max-width:999px) {
  .body-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1000px) {
  .body-grid {
    grid-template-columns: 1fr;
  }
}