body {
  font-family: Bricolage Grotesque, Arial;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.intro-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0;
  row-gap: 24px;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.heading {
  color: rgb(8, 10, 69);
  font-size: 48px;
  line-height: 72px;
  margin: 0;
  padding: 0;
}

.info {
  color: rgb(8, 10, 69);
  font-size: 18px;
}

.start-button {
  background-color: rgb(34, 38, 132);
  color: white;
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-family: Bricolage Grotesque, Arial;
  font-weight: 700;
  transition: opacity 0.15s;
  cursor: pointer;
}

.start-button:hover {
  opacity: 0.8;
}

.start-button:active {
  opacity: 0.5;
}

.learn-more-button {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(8, 10, 69);
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-family: Bricolage Grotesque, Arial;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 0.15s;
}

.learn-more-button:hover {
  opacity: 0.8;
}

.learn-more-button:active {
  opacity: 0.5;
}

.feature-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(241, 221, 217);
  font-family: Bricolage Grotesque, Arial;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 64px;
  padding-bottom: 64px;
  row-gap: 48px;
  column-gap: 48px;
}

.feature-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.features {
  color: rgb(8, 10, 69);
  font-weight: 700;
  font-size: 12px;
}

.explore {
  font-size: 35px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;
}

.featurecard {
  display: grid;
  grid-template-columns: 640px 640px;
  column-gap: 24px;
  row-gap: 24px;
  text-align: center;
  width: 1300px;

}

.cube-icon {
  height: 32px;
  width: 32px;
  margin: 0;
  margin-right: 24px;
}

.feature {
  background-color: rgb(229, 210, 206);
  display: flex;
  flex-direction: row;
  padding: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}

.feature-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 16px;
  column-gap: 16px;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.details {
  font-size: 16px;
  line-height: 24px;
}