.rules {
  background-color: rgb(8, 10, 69);
  background-color: rgb(8, 10, 69, 0.2);
  color: rgb(8, 10, 69);
  font-weight: bold;
  border: 3px solid rgb(8, 10, 69);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 50%;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25),
  inset 5px 5px 6px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 20px;
}

.p {
  font-size: 18px;
  margin-top: 20px;
}

.bg-image {
  background-image: url('background_image.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: blur(15px);
}

p {
  padding: 0;
  margin: 0;
  line-height: 38px;
}

.start-button {
  background-color: rgb(34, 38, 132);
  color: white;
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-family: Bricolage Grotesque, Arial;
  font-weight: 700;
  transition: opacity 0.15s;
  cursor: pointer;
}

.start-button:hover {
  opacity: 0.8;
}

.start-button:active {
  opacity: 0.5;
}