body {
  font-family: Arial;
}

.subscribe-button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.is-subscribed {
  background-color: rgb(240, 240, 240);
  color: black;
}